<!DOCTYPE html>
<html>
<head>
    <title>Shop Dashboard</title>
    <script language="javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/semantic.min.css">
    <script type='text/javascript' src="Semantic-UI-CSS-master/semantic.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {
        $('.ui.visible.sidebar').sidebar('toggle');
    });

</script>


    <style>

        ul li  {
          margin: 0px 0px 0px 0px;
        }

        p{
          margin: 0px 0px 0px 0px;
        }

        #info {
          background-color:;
        }

        #segment-header {


        }

        #info {

        }

        .question {

        }

        .answer {

        }
        #question {
          padding-right: 10px;
        }

        #outer
        {
            width:100%;
            text-align: center;
        }
        #inner
        {
            display: inline-block;
        }



    </style>

</head>

<body style = "padding-bottom: 300px;">
  <!--div class="ui visible sidebar">
    <ul>1</ul>
    <ul>2</ul>
    <ul>3</ul>
</div-->
  <div class = "pusher">
    <!--div class="ui secondary pointing menu" style = "padding-left:60px; padding-right: 120px;">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Shops
      </a>
      <a class="item">
        Files
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout       <i class="sign out icon"></i>
        </a>
      </div>
    </div-->


    <div class = "ui four column grid container">

      <div class="column">
        <div class="ui raised segment">
          <h2 class="ui header">
          <%= link_to(current_shop.shop_name, edit_shop_registration_path) %>
          <div class="sub header"><%= current_shop.location %></div>
          <div class="ui divider"></div>
          <div id="avail-text" class="sub header">
            <% if current_shop.is_available %>
            <i id="avail-switch" class="toggle on icon green big" onclick="toggleAvailability()"></i>
            <% else %>
            <i id="avail-switch" class="toggle off icon green big" onclick="toggleAvailability()"></i>
            <% end %> | Toggle Availability
            <!-- Button for availability toggle goes somewhere here and should be #avail-switch. AJAX code in shops.js; Backend in ShopsController -->
          </div>
          </h2>
          <div class="ui divider"></div>
          <div class="ui list">
            <div class="item">
              <h5><i class="mail icon"></i><%= current_shop.email %></h5>
            </div>
            <div class="item">
              <h5><i class="phone icon"></i><%= current_shop.contact_number %></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui yellow raised segment" style = "background-color: ;">
          <h1>Pending</h1>
          <% if @transactions %>
            <% @transactions.each do |t| %>
              <% if !(t.date_downloaded) %>
                <% s = Student.find(t.student_id) %>
                <div class = "ui segments">
                  <div class="ui segment">
                    <p class="transaction number">Transaction Number: <strong><%= t.id %></strong> </p>
                    <p class="username">Username: <strong><%= s.name %></strong></p>
                    <p class="contact num">Contact number: <strong><%= s.contact_number %></strong></p>
                    <p class="num_pages">Number of Pages: <strong>2</strong></p>
                    <p class="paper_size">Paper Size: <strong>A4</strong></p>
                    <p class="colored">Color: <strong>Colored</strong></p>
                    </br>
                    <p class="additional"><strong>Additional Specifications:</strong></p>

                    <ul class= "">The number of pages, paper size, color, and additional specifications are not dynamic yet</ul>
                  </div>
                  <div class="ui segment">
                    <div id="outer">
                      <%= link_to "Download", t.file.url, class: "ui blue button active", id: "inner" %>
                      <%= link_to "Cancel", destroy_transaction_url(current_shop.id, t.id), confirm: 'Are you sure?', class: "ui red button active", id: "inner" %>
                      <%= link_to "Printed", "#", class: "ui green button active", id: "inner" %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="column">
        <div class="ui blue raised segment">
          <h1>Printed Unpaid</h1>
          <% if @transactions %>
            <% @transactions.each do |t| %>
              <% if t.date_downloaded && !(t.date_paid) %>
                <% s = Student.find(t.student_id) %>
                <div class = "ui segments">
                  <div class="ui segment">
                    <p class="transaction number">Transaction Number: <strong><%= t.id %></strong> </p>
                    <p class="username">Username: <strong><%= s.name %></strong></p>
                    <p class="contact num">Contact number: <strong><%= s.contact_number %></strong></p>
                    <p class="num_pages">Number of Pages: <strong>2</strong></p>
                    <p class="paper_size">Paper Size: <strong>A4</strong></p>
                    <p class="colored">Color: <strong>Colored</strong></p>
                    </br>
                    <p class="additional"><strong>Additional Specifications:</strong></p>

                    <ul class= "">The number of pages, paper size, color, and additional specifications are not dynamic yet</ul>
                  </div>
                  <div class="ui segment">
                    <div id="outer">
                      <button id="outer" class=" ui green button active ">Paid</button>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  <!--            <div>
                <div id="googleMap" style="width:300px;height:245px;"></div>
            </div> -->
      <div class="column">
        <div class="ui green raised segment" style="color: #333;"> <!-- style is to fix the weird green coloration -->
          <h1>Printed Paid</h1>
          <% if @transactions %>
            <% @transactions.each do |t| %>
              <% if t.date_downloaded && t.date_paid %>
                <% s = Student.find(t.student_id) %>
                <div class = "ui segments">
                  <div class="ui segment">
                    <p class="transaction number">Transaction Number: <strong><%= t.id %></strong> </p>
                    <p class="username">Username: <strong><%= s.name %></strong></p>
                    <p class="contact num">Contact number: <strong><%= s.contact_number %></strong></p>
                    <p class="num_pages">Number of Pages: <strong>2</strong></p>
                    <p class="paper_size">Paper Size: <strong>A4</strong></p>
                    <p class="colored">Color: <strong>Colored</strong></p>
                    </br>
                    <p class="additional"><strong>Additional Specifications:</strong></p>

                    <ul class= "">The number of pages, paper size, color, and additional specifications are not dynamic yet</ul>
                  </div>
                  <div class="ui segment">
                    <div id="outer">
                      <button id="outer" class=" ui blue button active ">Remove</button>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
</body>

</html>
