<!DOCTYPE html>
<html>
<head>
    <title>Semantic work pls</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/semantic.min.css">
    <script type='text/javascript' src="Semantic-UI-CSS-master/dist/semantic.min.js"></script>


    <style>

        ul li  {
          margin: 0px 0px 0px 0px;
        }

        p{
          margin: 0px 0px 0px 0px;
        }

        #info {
          background-color:;
        }

        #segment-header {


        }

        #info {

        }

        .question {

        }

        .answer {

        }
        #question {
          padding-right: 10px;
        }



    </style>

</head>

<body style = "padding-bottom: 300px;">
  <div class = "ui three column grid container">

  <div class="column">
    <div class="ui raised segment">
      <h2 class="ui header">
      <%= link_to(current_student.name, edit_student_registration_path) %>
      <div class="sub header"><%= current_student.student_number %></div>
      </h2>
      <div class="ui divider"></div>
      <div class="ui list">
        <div class="item">
          <h5><i class="mail icon"></i><%= current_student.email %></h5>
        </div>
        <div class="item">
          <h5><i class="phone icon"></i><%= current_student.contact_number %></h5>
        </div>
      </div>
    </div>
    <% if flash[:alert] %>
    <div class="ui red floating message">
      <p><%= flash[:alert] %></p>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="ui green floating message">
      <p><%= flash[:notice] %></p>
    </div>
    <% end %>
  </div>


  <div class = "column"  style="text-align: center" >
    <div>
      <div class="ui raised segments" >
        <div class="ui segment" id = "segment-header">
          <h1 ><%= @shop.shop_name %></h1>
        </div>

        <div class = "ui teal segment" id = "question" >
          <p>Address: <strong><%= @shop.location %></strong></p>
          <p>Status:
            <% if @shop.is_available %>
              <strong class = "green">Online</strong>
              <i class="check circle icon green"></i>
            <% else %>
              <strong class = "red">Offline</strong>
              <i class="tiny circle icon red"></i>
            <% end %>
          </p>
          <p>Queue:<strong><%= @queue%></strong></p>
        </div>
      </div>


      <div class="ui teal raised segments" >
        <div class="ui segment" id = "segment-header">
          <h1 class = "heading-title">Prices (per page)</h1>
        </div>
        <div class="ui teal segment" id = "info">
          <li class = "question">Black and white: <strong><%= number_with_precision(@shop.price_blwt, :precision => 2) || "Not indicated." %></strong></li>
          <li class = "question">Colored: <strong><%= number_with_precision(@shop.price_colr, :precision => 2) || "Not indicated." %></strong></li>
          <li class = "question">Greyscale: <strong><%= number_with_precision(@shop.price_grey, :precision => 2) || "Not indicated." %></strong></li>
        </div>
      </div>

      <div class="ui teal raised segments" >
        <div class="ui segment" id = "segment-header">
          <h1 >Shop hours</h1>
        </div>
        <div class="ui teal segment"id = "info" >
          <li class = "question">Weekdays: <strong>8AM - 8PM</strong></li>
          <li class = "question">Weekends: <strong>8AM - 8PM</strong></li>
        </div>
      </div>

      <div class="ui raised segments" >
        <div class="ui segment" id = "segment-header">
          <h1>Contact Us</h1>
        </div>
        <div class="ui teal segment" id = "info">
          <p class = "question">Email: <strong class = "answer"><%= @shop.email %></strong></p>
          <p class = "question"> Contact number: <strong><%= @shop.contact_number %></strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class = "column " id = "wrapper" style="text-align: center">
    <div class="ui raised segments" style: "">
      <div  class ="ui segment">
        <h1>Order Form</h1>
      </div>
      <%= form_for(@transaction, url: create_transaction_path(@shop.id, @transaction), html: { class: 'ui teal segment fluid form', id: 'form'}) do |f| %>
        <div class = "ui two column grid">
          <div class = "column field">
            <label>Number of Pages</label>
            <%= f.number_field :number_pages %>
          </div>

          <div class = "column field">
            <label>Number of Copies</label>
            <%= f.number_field :number_copies, value: 1 %>
          </div>
        </div>

        <div class = "field" >
          <label> Paper Size </label>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :paper_size, 'A4', :checked => true %>
                <%= f.label :paper_size, 'A4', :value => 'A4' %>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :paper_size, 'Short Bond' %>
                <%= f.label :paper_size, 'Short Bond', :value => 'Short Bond' %>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :paper_size, 'Long Bond' %>
                <%= f.label :paper_size, 'Long Bond', :value => 'Long Bond' %>
              </div>
            </div>
          </div>
        </div>

        <div class = "field" >
          <label> Color Settings </label>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :color_settings, 'Colored', :checked => true %>
                <%= f.label :color_settings, 'Colored', :value => 'Colored' %>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :color_settings, 'Black and White' %>
                <%= f.label :color_settings, 'Black and White', :value => 'Black and White' %>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <%= f.radio_button :color_settings, 'Gray Scale' %>
                <%= f.label :color_settings, 'Gray Scale', :value => 'Gray Scale' %>
              </div>
            </div>
          </div>
        </div>


        <div class="field">
          <label>Additional Specifications</label>
          <%= f.text_area(:additional_specs, :rows => 4, :placeholder => "") %>
        </div>

        </br>

        <div class="field">
          <%= f.file_field :file, value: "Upload File" %>
          <!-- idk how to add these classes "ui inverted blue button active centered" -->
        </div>
        </br>
        <div class="field">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</body>

</html>
