<!DOCTYPE html>
<html>
	<head>
		<title>UPrint</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% unless controller_name == "static_pages" and action_name == "landing" %>
			<header>
				<div class="ui menu top fixed">
					<div class="header item"><%= link_to "UPrint", root_path %></div>
					<div class="right menu">
				        <!-- <a class="ui item"> Logout <i class="sign out icon"></i> </a> -->
				        <%= link_to "Logout <i class='sign out icon'></i>".html_safe, destroy_student_session_path, method: :delete, class: "ui item" %>
				    </div>
				</div>
			</header>
		<% end %>
		<%= yield %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
