<% if student_signed_in? %>
  <div class="ui raised segment">
    <h2 class="ui header">
    <%= link_to(current_student.name, edit_student_registration_path) %>
    <div class="sub header"><%= current_student.student_number %></div>
    </h2>
    <div class="ui divider"></div>
    <div class="ui list">
      <div class="item">
        <h5><i class="mail icon"></i><%= current_student.email %></h5>
      </div>
      <div class="item">
        <h5><i class="phone icon"></i><%= current_student.contact_number %></h5>
      </div>
    </div>
  </div>
<% elsif shop_signed_in? %>
  <div class="ui raised segment">
    <h2 class="ui header">
    <%= current_shop.shop_name %>
    <%= link_to edit_shop_registration_path, html_options = {id: 'shop_edit'} do %>
      <i class="options icon"></i>
    <% end %>
    <div class="sub header"><%= current_shop.location %></div>
    </h2>
    <div class="ui divider"></div>
    <div id="avail-text" class="sub header">
      <% if current_shop.is_available %>
      <i id="avail-switch" class="toggle on icon green big"></i>
      <% else %>
      <i id="avail-switch" class="toggle off icon green big"></i>
      <% end %><div class="ui left pointing label">Toggle Availability</div>
      <!-- Button for availability toggle goes somewhere here and should be #avail-switch. AJAX code in shops.js; Backend in ShopsController -->
    </div>
    <div class="ui divider"></div>
    <div class="ui list">
      <div class="item">
        <h5><i class="mail icon"></i><%= current_shop.email %></h5>
      </div>
      <div class="item">
        <h5><i class="phone icon"></i><%= current_shop.contact_number %></h5>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui list">
      <%= link_to "Transactions History", transactions_path, html_options={:class => "ui header"} %>
    </div>
  </div>
<% end %>
