<div class = " " style="margin: 0 auto;">
    <div class="ui green raised segment container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "ui form" }) do |f| %>
      <h1>Student Settings</h1>
      <%= devise_error_messages! %>

      <div class="field">
        <label>Email</label>
        <%= f.email_field :email, autofocus: true %>
        <br>
        <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <label>Password <i>(leave blank if you don't want to change it)</i></label>
        <%= f.password_field :password, autocomplete: "off" %>

        <br>
        <br>
        <label>Password Confirmation</label>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <br>
        <br>
        <label>Current Password</label>
        <%= f.password_field :current_password, autocomplete: "off" %>

        <br>
        <br>
        <%= f.submit "Update", class: "ui green button" %>
      </div>
    <% end %>

<!--
    <h3>Cancel my account</h3>
    <i style="color: black">Unhappy?</i>
    <br>
    <br>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui green button"  %>
-->

  </div>
</div>
